.title {
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    font-weight: bold
}

nav{
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.header-image {
    display: block;
    position: relative;
}
  
.header-image::after {
    content: "";
    background: url("../images/photo-1537908829143-c49accec9f80.jpg");
    background-position-y: -325px;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }