.build-frame{
    flex-direction: row;
}
.full{
    flex-direction: column;
    background-image: url("../images/photo-1537908829143-c49accec9f80.jpg");
    background-size: 100%;
    border: 1px solid black
}

.god-image-build{
    height: 150px;
    width: 150px;
    border: 1px solid black
}

.item {
    height: 68px;
    width: 68px;
    border: 1px solid black
}

.group2{
    min-width: 220px;
}

.god-name{
    align-self: center
}

@media screen and (max-width: 640px) {
    .god-image-build{
        height: 100px;
        width: 100px
    }
    
    .item {
        height: 43px;
        width: 43px
    }

    .group2{
        min-width: 150px;
    }
}

@media screen and (max-width: 420px) {
    .god-image-build{
        height: 85px;
        width: 85px
    }
    
    .item {
        height: 35px;
        width: 35px
    }

    .group2{
        min-width: 120px;
    }
}