.myBuilds {
    overflow: auto;
    max-height: 380px;
}

ul {
    list-style: none;
    margin: auto;
    margin-right: 40px;
    text-align:center;
  }

li {
  border-radius: 10px;
  margin-bottom: 5px;
  display:inline-block;
  *display:inline; 
  *zoom:1;
  margin-right:10px;
}

.god-name{
  margin: 0;
}

.buttons{
  margin-bottom: 5px;
  display: inline-block
}

.dashboard-username{
  margin: auto;
  text-align: center;
  margin-right: 12px;
}

.title-build{
  margin-top: 0px;
  font-size: 17px
}

.text-build{
  margin-top: 0px;
  font-size: 13px
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
  
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.build{
    flex-direction: row
}

@media screen and (max-width: 640px) {
  .myBuilds {
  max-height: 410px;  
  }
}